@import "./normalize.min.css";

:root {
  /* Colors
	   ========================================================================== */

  /* colors inspired SW Last Jedi Poster */
  --pegasus-red: #d90404;

  --maastricht-blue: #011c40;
  --feather-blue: #0d1a26;
  --corbeau-blue: #0e1126;
  --just-blue: #4ecfff;

  --bleachedsilk-white: #f2f2f2;
  --sauvignon-white: #f2eae4;
  --white: #fff;

  --brightlettuce-green: #87dc5a;

  /* Transitions
	   ========================================================================== */

  --transition-time: 0.34s;
  --longer-transition-time: 0.55s;

  /* Sizes
	   ========================================================================== */
  --navigation-width: 70px;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 13px;
  padding-right: 13px;
  width: calc(100% - 26px);
}
@media screen and (min-width: 1024px) {
  .container {
    width: calc(89vw - 26px);
  }
}
