@import "./normalize.min.css";

:root {
  /* Colors
	   ========================================================================== */

  /* colors inspired SW Last Jedi Poster */
  --pegasus-red: #d90404;

  --maastricht-blue: #011c40;
  --just-blue: #4ecfff;

  --just-black: #000000;
  --almost-black: #1e1f26;

  --just-white: #fff;

  --brightlettuce-green: #87dc5a;

  /* Transitions
	   ========================================================================== */

  --transition-time: 0.34s;
  --longer-transition-time: 0.55s;

  /* Sizes
	   ========================================================================== */
  --navigation-width: 70px;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  transition: background-color var(--transition-time),
    fill var(--transition-time);
}

body.darkmode {
  background-color: #131417;
  color: var(--just-white);
  fill: var(--just-white);
}

body.darkmode .page-headline {
  color: var(--just-white);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 13px;
  padding-right: 13px;
  width: calc(100% - 26px);
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: calc(89vw - 26px);
  }
}

.page-headline {
  border-bottom: 2px solid var(--pegasus-red);
  color: var(--maastricht-blue);
  display: inline-block;
  font-size: 28px;
  margin-left: 3%;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .page-headline {
    font-size: 34px;
  }
}

.thanos-container {
  pointer-events: none;
  position: absolute;
}

.thanos-container > canvas {
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
  transition: transform 0.55s ease-out, opacity 0.55s ease-out;
  will-change: transform;
}
